<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:replace="~{/day58task/student/header.html :: header}"></div>

    <div>
        <h3>학생 점수 수정하기</h3>
        
        <div style="display: flex; flex-direction: column; width: 300px;">
            수정 할 학생번호 입력<input class='modifySno'>
            수정 할 국어점수 입력<input class='modifySkor'>
            수정 할 수학점수 입력<input class="modifySmath">
            수정 할 영어점수 입력<input class="modifySeng">
            <button type="button" onclick="modify()">수정하기</button>
        </div>

    </div>

    <div class="viewSection"></div>

    <div th:replace="~{/day58task/student/footer.html :: footer}"></div>
        <!-- js는 정적파일이므로 다른 static 폴더에 있음 타임리프 문법으로 가져옴  -->
        <script th:src="@{/day58task/student.js}"></script>
</body>
</html>