<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--헤더 호출-->
    <div th:replace="~{/day58task/student/header.html :: header}"></div>

    <!-- 본문 작성-->
    <div>
        <h3>학생들의 점수를 등록하는 페이지입니다.</h3>
        <div>
            학생명 : <input class="sNameInput" /><br />
            국어점수 : <input class="sKorInput"  /><br />
            수학점수 : <input class="sMathInput"  /><br />
            영어점수 : <input class="sEngInput"  /><br />
            <button type="button" onclick="regist()">등록</button>
        </div>
    </div>

    <!--푸터 호출-->
    <div th:replace="~{/day58task/student/footer.html :: footer}"></div>
    
    <!-- js는 정적파일이므로 다른 static 폴더에 있음 타임리프 문법으로 가져옴  -->
    <script th:src="@{/day58task/student.js}"></script>
</body>
</html>