.infobox {
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.btnBox{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 10px
}

