<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    <div th:replace="~{ /header.html :: header }"></div>

    
    
    <div class="container">
        <h2> 환자별 진료/예약 목록</h2>
        
        <table class="table">
            <thead>
                <tr>
                    <th>환자 성명</th>
                    <th>담당의 성명</th>
                    <th>진료 날짜</th>
                    <th>진료 시간</th>
                    <th>진료 여부</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script src="/js/appointment/list.js"></script>
</body>
</html>